<div>
	<b>CountryCode: {{stateCtrl.params.countryCode}}</b>
	<ul ng-show="stateCtrl.states.length > 0">
		<!--					repeat states-->
		<li ng-repeat="s in stateCtrl.states">
			{{ s.name }}
		</li>
	</ul>

	<div class="form-group">
		<input 
				type="text" 
				name="state" 
				ng-model="stateCtrl.newState"
				placeholder="state"
				class="form-control">	
		<a href  
			ng-click="stateCtrl.addStateTo()"
			class="btn btn-rose btn-sm">
			Add state {{ stateCtrl.newState }}
		</a>
		<p><a href="#/">back</a></p>
		</div>
</div>